.story {
    border: 1px solid #A94CE4;
    padding: 8px;
    margin: 16px 0;
    color: #b97ee0;
    font-style: italic;
    line-height: 1.5;
}

.story::before {
	content: "STORY";
	color: #c781f0;
	font-weight: 600;
	display: block;
	-webkit-user-select: auto;
	user-select: auto;
	margin-bottom: 4px;
}

.example {
    border: 1px dotted #497F3F;
    padding: 5px;
    margin: 16px 0;
    color: #50bd3c;
    font-style: italic;
    line-height: 2;
}

.example::before {
	content: "PÉLDA";
	color: #50bd3c;
	font-weight: 600;
	display: block;
	-webkit-user-select: auto;
	user-select: auto;
}

img.story {
    width: 50%;
    margin: 20px auto;
    max-width: calc(100vw - 80px);
    display: block;
}

.file,
.report {
    margin-top: 8px;
    margin-bottom: 8px;
}

.report .message,
.file .content {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
    background-color: var(--vscode-textPreformat-background);
    padding: 1px 3px;
    color: var(--vscode-textPreformat-foreground);
    word-wrap: break-word;
    text-wrap: auto;
    margin: 0px;
}

.submission {
    border: 1px solid var(--vscode-input-border);
    padding: 4px;
}

.submission h3 {
    margin: 4px;
}

.submission h4 {
    margin: 4px;
}

.submission h3 .submission-score,
.submission h3 .submission-time {
    font-weight: 500;
    color: var(--vscode-descriptionForeground);
}

.score.success {
    color: #4CAF50;
}

.score.almost {
    color: #F9A825;
}

.score.fail {
    color: #E53935;
}

.exercise-warning {
    background-color: var(--vscode-editorError-foreground);
    color: var(--vscode-editorWidget-background);
    font-weight: bold;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 1rem;
}
